[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true

[color "diff"]
meta = yellow ul
frag = white
new = green
old = red
whitespace = white reverse

[pager]
log = true
diff = false

[user]
email = kennytm@gmail.com
name = KennyTM~

[alias]
st = status
ci = commit
di = diff
rv = checkout --
br = branch
co = checkout
lg = log --oneline --graph
mt = mergetool -t meld1234

[core]
editor = gvim -f
autocrlf = input

[grep]
linenumber = true

[mergetool]
tool = meld1234
keepBackup = false

[mergetool "meld1234"]
cmd = meld --diff $LOCAL $MERGED $REMOTE

[gui]
fontdiff = -family Menlo -size 11 -weight normal -slant roman -underline 0 -overstrike 0
